#main-content {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.background-image {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url("landing-banner-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-overlay::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 1;
}

.image-overlay {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 300px; /* Example min-height */
}

.image-overlay > * {
  position: relative;
  z-index: 2;
}

.gradient-bg {
    background: -webkit-linear-gradient(left, #dc2420, #dc2420);
    font-weight: bold;
    font-size: 2xl;
    line-height: 1;
    color: azure;
  }
  
  /* The hover effect to maintain text color white on mouse over */
  .gradient-title:hover, .gradient-title:focus {
    text-decoration: none;
  }

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  background: transparent; /* Make the scrollbar background transparent */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track (progress background) transparent */
}

::-webkit-scrollbar-thumb {
  background: #888; /* The scrolling handle */
  border-radius: 4px; /* Rounded corners on the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar handle */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* Scrollbar handle color, track color */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px; /* Adjust based on your needs */
  width: 130px; /* Adjust based on your needs */
  /* dashed border white */
  /* border: 2px dashed white; */
  /* #00aaff bg opacity 0.5 */
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px;
}

.cardPlus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px; /* Adjust based on your needs */
  width: 120px; /* Adjust based on your needs */
  border-radius: 2xl;
  opacity: 0.9;
}

.card svg {
  flex-shrink: 0; /* Prevents the SVG from resizing */
  /* height: 50px;
  width: 50px; */
  margin-bottom: 0.5em; /* Adds some space between the SVG and the text */
}

.card p {
  text-align: center;
  color: white;
  font-size: 16px; /* Adjust based on your needs */
  line-height: 1.2; /* Ensures text fits in two lines */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want */
  -webkit-box-orient: vertical;
}

.icon-row, .icons-row {
  width: 100%; /* Ensures each row takes full width */
  display: flex;
  justify-content: center; /* Centers the icons horizontally */
  margin-bottom: 20px; /* Adds space between the rows */
}

.icons-row {
  flex-wrap: wrap; /* Allows icons to wrap in smaller screens */
  justify-content: space-around; /* Distributes space around icons evenly */
}

/* not mobile */
@media (min-width: 768px) {
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content on the cross axis */
    width: 100%; /* Takes full width of the parent */
  }
}

.image-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
}

:root {
  /* Define color and gradient variables for easy theme changes */
  --dark-gray: rgb(51, 51, 51);
  --light-gray-gradient-start: rgb(99, 124, 163);
  --white-color: #fff;
  --title-color: rgba(241, 241, 244, 0.6);
  --title-color-small: rgba(0, 0, 0, 0.6);
  --text-color: rgb(241, 241, 244);
  --gradient-to-right-start: #055e94;
  --gradient-to-right-end: #3a86b4;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

.flowcard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch; /* Stretch items to fill the container */
  text-align: left; /* Align text to the left */
}

.flowcard, .flowcardsmall, .flowcard-medium, .flowcard-large {
  position: relative;
  color: var(--white-color);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  background: linear-gradient(to bottom, var(--gradient-to-right-start), var(--gradient-to-right-end));
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.flowcard-medium-down, .flowcard-large-down {
  position: relative;
  color: var(--white-color);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  background: linear-gradient(to top, var(--gradient-to-right-start), var(--gradient-to-right-end));
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.flowcard:hover, .flowcardsmall:hover, .flowcard-medium:hover, .flowcard-large:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.flowcard-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.72px;
  color: var(--title-color);
}

.flowcard p {
  color: var(--text-color);
  font-size: 24px; /* Adjusted for readability */
  line-height: 100%;
  margin-bottom: 0.5rem;
}

/* Image specific styles for better responsiveness */
.flowcard-large img, .flowcard img {
  width: 100%; /* Full width of their container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image is fully visible */
  /* max height 100px */
  max-height: 250px;
}

@media screen and (max-width: 768px) {
  .flowcard, .flowcard-medium, .flowcard-large {
    flex-basis: 90%; /* Cards take full width on smaller screens */
  }
  .flowcard-large {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }
  .flowcard-title {
    font-size: 24px; /* Slightly smaller font size for smaller screens */
  }
  .flowcard p {
    font-size: 24px; /* Adjusted for readability on smaller screens */
  }
}

.step-indicator {
  position: absolute;
  top: 2%;
  left: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--gradient-to-right-start);
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}

.project-parallax {
  height: 300px; /* Adjust height as needed */
  position: relative;
  overflow: hidden;
}

.parallax-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -10%; /* Start a bit above the container */
  left: 0;
  width: 100%;
  height: 120%; /* More than 100% to allow for vertical movement */
}

.adjust-left {
  background-position: calc(50% - 50px) center; /* Only moves this specific background 10px left from the center */
}

.adjust-right {
  background-position: calc(50% + 30px) calc(50% + 70px); /* Moves background 10px down from the center */ 
}

.adjust-top {
  background-position: calc(50% - 90px) top; /* Only moves this specific background 10px left from the center */
}

.adjust-bottom {
  background-position: center calc(50% + 70px); /* Moves background 10px down from the center */
}

.project-card {
  width: 300px;
}

.project-card img {
  transition: transform 0.3s ease-in-out;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-parallax:hover .parallax-background {
  transform: scale(1.1); /* Slightly enlarge the background image on hover */
}

.project-parallax:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Lighten the overlay on hover for better visibility of the image */
  transition: background-color 0.3s ease-in-out;
}

/* Certification Logos */
.certification-logo {
  height: 3rem; /* Adjust based on actual logo size */
  margin: 0 1rem;
}

/* KPI Counters */
.kpi-counter {
  font-size: 4rem; /* Large font size for impact */
  color: #4c51bf; /* Adjust the color to match your branding */
  font-weight: bold;
}

.kpi-description {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: #4a5568; /* A shade of gray for readability */
}

.project-card {
  width: calc(33.333% - 1rem); /* Subtract any horizontal padding/margins if necessary */
  margin: 0.5rem; /* Adjust based on your layout needs */
  display: inline-block; /* Keeps the block inline */
  vertical-align: top; /* Aligns the top of the elements */
}

@media screen and (max-width: 1024px) {
  .project-card {
    width: calc(50% - 1rem); /* Adjust for smaller screens, two items per row */
  }
}

@media screen and (max-width: 768px) {
  .project-card {
    width: calc(100% - 1rem); /* Adjust for mobile screens, one item per row */
  }
}

.duration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.duration-content {
  background-color: #E2E8F0; /* Light gray background */
  color: #2D3748; /* Dark gray text */
  padding: 8px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.duration-content:hover {
  transform: scale(1.05); /* Slight scale on hover for interaction feedback */
}
