.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.background-image {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url("landing-banner-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-overlay::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 1;
}

.image-overlay {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.image-overlay > * {
  position: relative;
  z-index: 2;
}

.gradient-bg {
    background: -webkit-linear-gradient(left, #dc2420, #dc2420);
    font-weight: bold;
    font-size: 2xl;
    line-height: 1;
    color: azure;
  }
  
  /* The hover effect to maintain text color white on mouse over */
  .gradient-title:hover, .gradient-title:focus {
    text-decoration: none;
  }

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  background: transparent; /* Make the scrollbar background transparent */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track (progress background) transparent */
}

::-webkit-scrollbar-thumb {
  background: #888; /* The scrolling handle */
  border-radius: 4px; /* Rounded corners on the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar handle */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* Scrollbar handle color, track color */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px; /* Adjust based on your needs */
  width: 130px; /* Adjust based on your needs */
  /* dashed border white */
  /* border: 2px dashed white; */
  /* #00aaff bg opacity 0.5 */
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px;
}

.cardPlus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px; /* Adjust based on your needs */
  width: 120px; /* Adjust based on your needs */
  border-radius: 2xl;
  opacity: 0.9;
}

.card svg {
  flex-shrink: 0; /* Prevents the SVG from resizing */
  /* height: 50px;
  width: 50px; */
  margin-bottom: 0.5em; /* Adds some space between the SVG and the text */
}

.card p {
  text-align: center;
  color: white;
  font-size: 16px; /* Adjust based on your needs */
  line-height: 1.2; /* Ensures text fits in two lines */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want */
  -webkit-box-orient: vertical;
}

.icon-row, .icons-row {
  width: 100%; /* Ensures each row takes full width */
  display: flex;
  justify-content: center; /* Centers the icons horizontally */
  margin-bottom: 20px; /* Adds space between the rows */
}

.icons-row {
  flex-wrap: wrap; /* Allows icons to wrap in smaller screens */
  justify-content: space-around; /* Distributes space around icons evenly */
}

/* not mobile */
@media (min-width: 768px) {
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content on the cross axis */
    width: 100%; /* Takes full width of the parent */
  }
}

.image-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
}